{
    "timeout": 10,
    "source": {
        "directories": [
            "easydb-src",
            "easydb-tests",
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "GreaterThan": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataUpdate",
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::__construct"
            ]
        },
        "GreaterThanNegotiation": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataUpdate",
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::__construct"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::__construct",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryByTypeTest::testDatabaseConnectionNotSpecifiedException",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testScalarRecall"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataUpdate",
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::__construct",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testDaftObjectFromQueryStdClassType",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testDaftObjectIdPropertiesFromTypeMadePublic",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryByTypeTest::testDatabaseConnectionNotSpecifiedException",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testScalarRecall"
            ]
        },
        "OneZeroInteger": {
            "ignore": [
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::__construct"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::DaftObjectExistsInDatabase",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::DaftObjectRepositoryArgsEasyDbActuallyRequired",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::ModifyTypesForDatabase",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataCols",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataValues",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataUpdate",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RecallDaftObjectDataFromQuery",
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::QueryPartTypeFromRefReturn"
            ]
        },
        "PublicVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testDaftObjectFromQueryStdClassType",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testDaftObjectIdPropertiesFromTypeMadePublic",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryTest::testScalarRecall",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryByTypeTest::dataProviderDatabaseConnectionNotSpecifiedException",
                "SignpostMarv\\DaftObject\\EasyDB\\Tests\\DaftObjectRepositoryByTypeTest::testDatabaseConnectionNotSpecifiedException"
            ]
        },
        "Throw_": {
            "ignore": [
                "SignpostMarv\\DaftObject\\EasyDB\\TestObjectRepository::QueryPartTypeFromRefReturn"
            ]
        }
    }
}
