{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "GreaterThan": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataUpdate"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::RememberDaftObjectDataUpdate"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::ModifyTypesForDatabase"
            ]
        },
        "Throw_": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::DaftObjectIdPropertiesFromType",
                "SignpostMarv\\DaftObject\\AbstractDaftObjectEasyDBRepository::DaftObjectRepositoryArgsEasyDbActuallyRequired"
            ]
        }
    }
}
